<app-dashboard-item
  title="{{title}}"
  [image]="image"
>
  @if (currentStatus === 'online') {
    <div class="status-online">
      <p>Servers are online</p>
      <p>All systems are operational.</p>
    </div>
  }
  @else if (currentStatus === 'offline') {
    <div class="status-offline">
      <p>Servers are offline</p>
      <p>Functionality should be restored soon.</p>
    </div>
  }
  @else {
    <div class="status-unknown">
      <p>Server status is unknown</p>
      <p>Fetching server status failed.</p>
    </div>
  }
</app-dashboard-item>
