<app-header />

<main>
  <div>
    <ul id="users" >
      <li *ngFor="let user of users; trackBy: trackByUserId">
        <app-user
          [user]="user"
          [userID]="user.id"
          [selected]="selectedUser?.id === user.id"
          (select)="onSelectUser($event)"
        />
      </li>
    </ul>
  </div>
  <div>
    @if (selectedUser) {
      <app-task-list [user]="selectedUser" />
    }
    @else {
      <div>
        <p>Select a user</p>
      </div>
    }
  </div>
</main>

<router-outlet />
