@if (isAddingTask) {
  <app-new-task (cancel)="onCancelAddTask()" (add)="onAddTask($event)" />
}

<section id="tasks">
  <header>
    <h2><img class="avatar" [src]="avatarPath" [alt]="user?.name"/> {{user?.name}}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header>

  <ul>
    @if (tasksForUser.length > 0) {
      @for (task of tasksForUser; track task.id) {
        <li>
          <app-task-item
            [task]="task"
            (complete)="onCompleteTask($event)"
          />
        </li>
      }
    }
    @else {
      <li>
        <p>No tasks found</p>
      </li>
    }
  </ul>
</section>
